{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#isAuthorized "SERVICE.START_STOP, SERVICE.ADD_DELETE_SERVICES"}}
    <div class="service-button" style="margin-top: 10px;">
        <div class="btn-group display-inline-block span11 offset1">
            <a class="btn dropdown-toggle span10" data-toggle="dropdown" href="#">{{t common.actions}}
                <span class="caret"></span>
            </a>
            <ul class="pull-left dropdown-menu">
                {{#isAuthorized "SERVICE.ADD_DELETE_SERVICES"}}
                  {{#if view.serviceGroup.isCoreServiceGroup}}
                    <li {{bindAttr class="view.serviceGroup.isAllServicesInstalled:disabled"}}>
                        <a href="#"
                            {{bindAttr class="view.serviceGroup.isAllServicesInstalled:disabled"}}
                            {{action gotoAddService target="view.serviceController"}}>
                            <i class="icon-plus icon-white"></i> {{t services.service.add}}</a>
                    </li>
                  {{/if}}
                {{/isAuthorized}}
                {{#isAuthorized "SERVICE.START_STOP"}}
                  {{#if view.serviceGroup.isCoreServiceGroup}}
                    <li class="divider"></li>
                  {{/if}}
                    <li {{bindAttr class="view.isStartAllDisabled:disabled" }}>
                        <a href="#" data-toggle="modal"
                            {{bindAttr class="view.isStartAllDisabled:disabled" }}
                            {{action "startAllService" view.serviceGroup target="view.serviceController"}}>
                            <i {{bindAttr class=":icon-play view.isStartAllDisabled:disabled:enabled " }}></i>
                            {{t services.service.startAll}}
                        </a>
                    </li>
                    <li {{bindAttr class="view.isStopAllDisabled:disabled" }}>
                        <a href="#" data-toggle="modal"
                            {{bindAttr class="view.isStopAllDisabled:disabled" }}
                            {{action "stopAllService" view.serviceGroup target="view.serviceController"}}>
                            <i {{bindAttr class=":icon-stop view.isStopAllDisabled:disabled:enabled" }}></i>
                            {{t services.service.stopAll}}
                        </a>
                    </li>
                    {{#if view.serviceGroup.isCoreServiceGroup}}
                      <li {{bindAttr class="view.isRestartAllRequiredDisabled:disabled" }}>
                        <a href="#" data-toggle="modal"
                            {{bindAttr class="view.isRestartAllRequiredDisabled:disabled" }}
                            {{action "restartAllRequired" view.serviceGroup target="view.serviceController"}}>
                            <i {{bindAttr class=":icon-repeat view.isRestartAllRequiredDisabled:disabled:enabled" }}></i>
                            {{t services.service.restartAllRequired}}
                        </a>
                      </li>
                    {{/if}}
                {{/isAuthorized}}
            </ul>
        </div>
    </div>
{{/isAuthorized}}
